<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>allisons sobie profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="styles/style.css">

</head>
<body>

<main>

 <div class="container">
        <div class="card">
            <img id="profile-pic" src="https://th.bing.com/th/id/OIP.edEHUKlO5QFyewRpgjlHSwAAAA?w=192&h=192&c=7&r=0&o=5&dpr=1.4&pid=1.7" alt="Allison Lacy">
            <div class="profile-header">
                <h1>Allison Lacy</h1>
            </div>
            <div class="profile-bio">
                <p>I am a senior at the University of North Alabama majoring in computer information systems.</p>
            </div>
            <div class="profile-links">
                <a href="https://github.com/AllisonLacy" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/allison-lacy-a45118243/" target="_blank">LinkedIn</a>
            </div>
            <div class="profile-work">
                <h2>Projects</h2>
                <div class="work-item">
                    <h3>Project 1</h3>
                    <p>I used HTML, CSS, and JS to create an interactive game.</p>
                    <a href="https://codepen.io/AllisonLacy/pen/JjQeobQ" target="_blank">Square Game</a>
                </div>
                <div class="work-item">
                    <h3>Project 2</h3>
                    <p>This project takes input and generates a random spirit animal.</p>
                    <a href="https://codepen.io/AllisonLacy/pen/eYwoWyj" target="_blank">Spirit Animal</a>
                </div>
            </div>
        </div>
    </div>

</main>



    
<footer class="footer bg-body-tertiary text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024
      <a class="text-body" href="https://mdbootstrap.com/">bc</a> |
      <a href="https://gist.github.com/assets/22795694/d414efab-a80c-4b31-aeac-9636a0681f41" target="_blank">see my wireframe</a>
      <!-- Copyright -->
    </div>
  </footer>
  
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js'></script>
    <script  src="scripts/script.js"></script>
  
  </body>
  </html>
