<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Allison's Sobie Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

<header>
    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="https://github.com/AllisonLacy" target="_blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/allison-lacy-a45118243/" target="_blank">LinkedIn</a></li>
        </ul>
    </nav>
</header>

<main class="container">

    
    <div class="profile-card">
        <img id="profile-pic" src="https://th.bing.com/th/id/OIP.edEHUKlO5QFyewRpgjlHSwAAAA?w=192&h=192&c=7&r=0&o=5&dpr=1.4&pid=1.7" alt="Allison Lacy">
        <h1>Allison Lacy</h1>
        <p>I am a senior at the University of North Alabama majoring in computer information systems.</p>
    </div>

    <div class="projects-card">
        <h2>Projects</h2>
        <div class="project">
            <h3>Project 1</h3>
            <p>HTML, CSS, and JS interactive game</p>
            <a href="https://codepen.io/AllisonLacy/pen/JjQeobQ" target="_blank">View Game</a>
        </div>
        <div class="project">
            <h3>Project 2</h3>
            <p>Generates a random spirit animal</p>
            <a href="https://codepen.io/AllisonLacy/pen/eYwoWyj" target="_blank">View Spirit Animal</a>
        </div>
    </div>

</main>


       
       <footer class="footer bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        Allison's Profile
        <a class="text-body" href="https://mdbootstrap.com/"></a>
    </div>
</footer>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js'></script>
<script src="scripts/script.js"></script>

</body>
</html>
